@import url("https://fonts.google.com/specimen/Prata");
@import url("https://fonts.google.com/specimen/Inter");

.body{
    color: white;
    height: 100vh;
    background-color: black;
    font-family: "Inter";
    font-size: 14px;
}

.principal{
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-direction:column;
  
    
}

.navegacion{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 330px;
}

.central .nombre{
    display: flex;
    font-family: "Prata"!important;
}

button{
    background-color: #f4ff3b;
    border: none;
    height: 40px;
    width: 150px;
}

a{
    color: white!important;
}

.section1{
    margin-top: 100px;
    width: 50%;
}

.wrap{
    margin-top: 30px;
}

.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    column-gap: 7rem;
    row-gap: 1rem;
}

.img1{
    align-self: self-start;
}

.section2 {
    display: flex;
    margin-top: 50px; 
    justify-content: space-between;
}

.parte1 .parte2{
    display: flex;
}


figcaption{
    width: 530px;
    margin-top: 20px;
}

.section3{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #32313b;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 217px;
}

.parrafo1 .parrafo2{
    display: flex;
}

.section4{
    width: 480px;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #32313b;
}

.nombreF{
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.redes{
    display: flex;
    padding-right: 50px;
}

.img2{
    padding-left: 10px;
    padding-right: 10px;
}